body {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img {
    height: 400px;
    width: 650px;
    object-fit: cover;
    object-position: center;
}
.c1 {
    background-color: purple;
}
.c2 {
    background-color: green;
}
.c3 {
    background-color: red;
}
.c4 {
    background-color: yellow;
}
.c5 {
    background-color: blue;
}